html{
    min-width:1903px;
    background-size: cover;
}
.footer{
    position:relative;
    bottom: 0px;
    color:rgba(240, 255, 255,0.5);
    font-family: 'Cascadia Code';
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);
    text-align: center;
}
header{
    overflow:auto;
    z-index: 999;
    position: fixed;
    font-family: 'Cascadia Code';
    width: 100%;
    height: 30px;
    background-color: #99d9ea;
}
header div{
    /* position:fixed; */
    float: left;
}
.head1{
    list-style: none;
    height: 30px;
    width:165px;
    background-color:#c8bfe7;
    line-height:30px;
}
.part1 a{
    font-family: 'Cascadia Code';
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:rgba(100, 149, 237,0.9);
}
.part1{display: none;z-index: 999;}
.head1 a{
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    color: dimgrey;
    display: block;
    font-size: 18px;
}
.head1 a:hover{
    background-color:#99b9ea;
    color:blueviolet;
}
.head1 a:active{background-color:blue;color:paleturquoise;}
.head1:hover .part1 {display: block;}