html{
    /* background-image: url("https://s1.ax1x.com/2022/11/12/ziZoE4.jpg"); */
    background-image: url("../HTMLSource/backsmall.webp");
    /* background-image: url("https://s1.ax1x.com/2022/12/23/zjS2DI.png"); */
    background-attachment:fixed;
    background-repeat: no-repeat;
    min-width:100%;
    background-size: cover;
    overflow-wrap: break-word;
}


@font-face{
    font-family: "RC";
    src: url("../fonts/RC.otf");
}
@font-face{
    font-family: "Potra-2";
    src: url("../fonts/Potra-2.ttf");
}
/* @font-face {
    font-family:"Cascadia Code";
    src: url(../fonts/CascadiaCode-2111.01/ttf/CascadiaCode.ttf);
}
@font-face {
    font-family:"Cascadia Code Italic";
    src: url(../fonts/CascadiaCode-2111.01/ttf/CascadiaCodeItalic.ttf);
}
@font-face {
    font-family:"Courier New";
    src: url(../fonts/Courier-New/cour-2.ttf);
}
@font-face {
    font-family:"Courier New Italic";
    src: url(../fonts/Courier-New/Courier-BOLDITALIC-1.ttf);
}
@font-face {
    font-family:"Consolas";
    src: url(../fonts/Consolas/consola-1.ttf);
} */



/* @font-face {
    font-family:"楷体";
    src: url(../fonts/Others/仓耳与墨W02.ttf);
}
@font-face {
    font-family:"楷体bold";
    src: url(../fonts/Others/仓耳与墨W05.ttf);
} */
.footer{
    z-index: 9998;
    position:relative;
    bottom: 0px;
    color:rgba(240, 255, 255,0.5);
    font-family: "Cascadia Code",Courier,monospace;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);
    text-align: center;
}
header{
    overflow:hidden;
    z-index: 999;
    position: fixed;
    font-family: 'Cascadia Code';
    width: 50px;
    height: 100%;
    background-color: #99d9ea;
}
header div{
    /* position:fixed; */
    float: left;
}
.head1{
    list-style: none;
    height: 55px;
    width:100px;
    background-color:#c8bfe7;
    line-height:55px;
}
.part1 a{
    font-family: 'Cascadia Code'，'Consolas','Courier New';
    /* font-family: 'Courier New', Courier, monospace; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:rgba(100, 149, 237,0.9);
}
.part1{display: none;z-index: 999;}
.head1 a{
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    color: dimgrey;
    display: block;
    font: bold;
    font-size: 40px;
}
.head1 a:hover{
    background-color:#99b9ea;
    color:blueviolet;
}
.head1 a:active{background-color:mediumpurple;color:paleturquoise;}
.head1:hover .part1 {display: block;}
/* 打开侧边栏按钮 */
.open-btn {
    /* position: fixed; */
    top: 20px;
    margin-left: 5px;
    right: 20px;
    padding: 5px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

  /* 关闭侧边栏按钮 */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

  /* 侧边栏容器 */
.sidebar {
    font-family: 'Cascadia Code'，'Consolas','Courier New';
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #ccb8ed;
    z-index: 9999;
    transition: left 0.3s ease-in-out;
}

  /* 导航链接样式 */
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li {
    margin-bottom: 10px;
}
.nav a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    font-family: 'Cascadia Code' , 'Curier New';
}
.nav li :hover{
    background-color: #7700ff34;
    animation-duration: 0.7s;
    animation-name: navchange;
}
@keyframes navchange {
    from{
        background-color: #7700ff00;
    }
    to{
        background-color: #7700ff34;
    }
}
  /* 遮罩层 */
.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9990;
    transition: all 0.3s ease-in-out;
}

  /* 侧边栏打开时的样式 */
.sidebar.open {
    left: 0;
}

.overlay.open {
    visibility: visible;
    opacity: 1;
}
.maintext {
    background-color: #f3e8ffde;
}
.aky{
    position: relative;
    display: inline-block;
    font-family: 'RC','Cascadia Code',courier;
    font-size: 30px;
    line-height: 30px;
    border-radius: 5px;
}
.oi{
    position:relative;
    display: inline-block;
    font-family: 'Potra-2','Cascadia Code',courier;
    font-size: 30px;
    line-height: 30px;
    border-radius: 5px;
}